{{ define "main" }}
  {{ .Scratch.Set "scope" "single" }}
  {{ $showReadingProgress := site.Params.article.showReadingProgress | default false }}
  {{ if isset .Params "showreadingprogress" }}
    {{ $showReadingProgress = .Params.showReadingProgress }}
  {{ end }}
  {{ if $showReadingProgress }}
    {{ partial "reading-progress.html" . }}
  {{ end }}
  <article>
    {{/* Header */}}
    <header id="single_header" class="mt-5 max-w-prose">
      {{ if .Params.showBreadcrumbs | default (site.Params.article.showBreadcrumbs | default false) }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
        {{ .Title | emojify }}
      </h1>
      <div class="mt-1 mb-6 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
        {{ partial "article-meta/basic.html" (dict "context" . "scope" "single") }}
      </div>
      {{ if not (.Params.showAuthorBottom | default (site.Params.article.showAuthorBottom | default false)) }}
        {{ template "SingleAuthor" . }}
      {{ end }}
    </header>

    {{/* Body with Right Sticky TOC Sidebar */}}
    <section class="flex flex-col max-w-full mt-0 prose dark:prose-invert lg:flex-row">
      {{ $enableToc := site.Params.article.showTableOfContents | default true }}
      {{ $enableToc = .Params.showTableOfContents | default $enableToc }}
      {{ $topClass := cond (hasPrefix site.Params.header.layout "fixed") "lg:top-[140px]" "lg:top-10" }}
      {{ if $enableToc }}
        <div class="order-first lg:ms-auto px-0 lg:order-last lg:ps-8 lg:max-w-2xs">
          <div class="toc ps-0 print:hidden lg:sticky {{ $topClass }}" id="article-toc-container">
            {{ if (in .TableOfContents "<ul") }}
              {{ partial "toc.html" . }}
            {{ end }}
          </div>
        </div>
      {{ end }}

      <div class="min-w-0 min-h-0 max-w-fit">
        {{ partial "series/series.html" . }}
        <div class="article-content max-w-prose mb-20">
          {{ .Content }}
          {{ $defaultReplyByEmail := site.Params.replyByEmail }}
          {{ $replyByEmail := default $defaultReplyByEmail .Params.replyByEmail }}
          {{ if $replyByEmail }}
            {{ $replySubject := i18n "article.reply_to" (dict "Title" .Title) | default (printf "Reply to %s" .Title) }}
            <strong class="block mt-8">
              <a
                class="email-link m-1 rounded bg-neutral-300 p-1.5 text-neutral-700 hover:bg-primary-500 hover:text-neutral dark:bg-neutral-700 dark:text-neutral-300 dark:hover:bg-primary-400 dark:hover:text-neutral-800"
                href="#"
                data-email="{{ site.Params.Author.email | base64Encode }}"
                data-subject="{{ replace $replySubject "\"" "'" }}">
                {{ i18n "article.reply_by_email" | default "Reply by Email" }}
              </a>
            </strong>
          {{ end }}
        </div>
        {{ if (.Params.showAuthorBottom | default (site.Params.article.showAuthorBottom | default false)) }}
          {{ template "SingleAuthor" . }}
        {{ end }}
        {{ partial "series/series-closed.html" . }}
        {{ partial "sharing-links.html" . }}
        {{ partial "related.html" . }}
      </div>
    </section>
    <footer class="pt-8 max-w-prose print:hidden">
      {{ partial "article-pagination.html" . }}
      {{ if .Params.showComments | default (.Site.Params.article.showComments | default false) }}
        {{ partial "comments.html" . }}
      {{ end }}
    </footer>
  </article>
{{ end }}

{{ define "SingleAuthor" }}
  {{ if .Params.showAuthor | default (site.Params.article.showAuthor | default true) }}
    {{ if .Params.authors }}
      <div class="flex flex-wrap gap-4 mt-6 mb-6">
        {{ range .Params.authors }}
          {{ partial "author.html" (dict "context" $ "author" .) }}
        {{ end }}
      </div>
    {{ else }}
      {{ partial "author.html" . }}
    {{ end }}
  {{ end }}
{{ end }}
